NET "out_pins[0]" LOC = P51;
NET "out_pins[0]" IOSTANDARD = LVTTL;
NET "out_pins[1]" LOC = P33;
NET "out_pins[1]" IOSTANDARD = LVTTL;
NET "out_pins[2]" LOC = P24;
NET "out_pins[2]" IOSTANDARD = LVTTL;

NET "in_pins[0]" LOC = P17;
NET "in_pins[0]" IOSTANDARD = LVTTL;
NET "in_pins[0]" PULLUP;
NET "in_pins[1]" LOC = P15;
NET "in_pins[1]" IOSTANDARD = LVTTL;
NET "in_pins[1]" PULLUP;
